
.hero {
    width: 100%;
    height: 380px;
    padding: 20px;
    background: #f1f1f1;

    &__content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        padding: 50px;
        border: 2px solid transparent;
        border-image: linear-gradient(to top, #8B8B8B, transparent, #8B8B8B);
        border-image-slice: 1;
    }

    &__title {
        color: #24323F;
    }

}