.badge {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 75px 0;
}

.title {
    margin-top: 20px;
    font-family: 'Manrope';
    font-size: 30px;
    line-height: 48px;
    color: #000000;
    text-align: center;
}